// Copyright (c) 1999 Peter Karlsson
//
// $Id$
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, version 2
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.

#ifndef __CONFIG_H
#define __CONFIG_H

#define AREADEF "d:/src/fidoweb/areas"
#define INBOUND "d:/mail/inbound/"
#define ORIGIN  "d:/src/fidoweb/origin"
#define LASTREAD "d:/src/fidoweb/lastread/"
#define GUEST   "guest"

#define ZONE    2
#define NET     206
#define NODE    221
#define POINT   80
#define DZONE   2
#define DNET    206
#define DNODE   221
#define DPOINT  0
#define PASSWD  "PASSWORD"

#define MSGTYPE MSGTYPE_SQUISH

#endif
